:host ::ng-deep .p-dialog .p-dialog-content {
  height: 100%;
  background: #ffffff;
}
::ng-deep .p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
    padding: 0rem 0rem;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 0rem 0rem;
}