<div class="p-grid-fluid">
  <p-toast position="bottom-right" key="bc"></p-toast>
  <p-card>
    <div class="p-d-flex p-jc-between">
      <div class="p-mb-3">
        <button
          type="button"
          pButton
          label="Agregar Producto"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          (click)="mostrarDialogoGuardar(false, null)"
        ></button>
        <!-- <button
          type="button"
          pButton
          label="Modificar Producto"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          *ngIf="selectedPedidos.length === 1"
          (click)="mostrarDialogoGuardar(true, selectedPedidos[0])"
        ></button> -->
      </div>
      <div class="p-d-flex p-jc-end">
        <button
          type="button"
          pButton
          label="Asignar OCO"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          [disabled]="selectedPedidos.length <= 0"
          (click)="op.toggle($event); obtenerOrdenes();"
        ></button>
        <button
          type="button"
          pButton
          label="Crear OCO"
          icon="pi pi-angle-double-rigth"
          style="margin-left: 0.25em"
          class="p-button-text"
          [disabled]="selectedPedidos.length <= 0"
          (click)="displaySaveOCO = true"
        ></button>
        <button
          type="button"
          pButton
          label="Salir"
          icon="pi pi-angle-double-left"
          style="margin-left: 0.25em"
          (click)="volver()"
          class="p-button-text"
        ></button>
        <input
          type="text"
          pInputText
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
      </div>
    </div>
    <p-table
      #dt
      [value]="pedidos"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} elementos"
      [rowsPerPageOptions]="[10, 25, 50]"
      [(selection)]="selectedPedidos"
      dataKey="idpedido"
      [responsive]="true"
      [globalFilterFields]="['producto.nombreproducto']"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center; width: 3em">N°</th>
          <th style="text-align: center; width: 3em">OCO</th>
          <th style="text-align: center; width: 3em">
            <p-tableHeaderCheckbox disabled="true"></p-tableHeaderCheckbox>
          </th>
          <th style="text-align: center; width: 5em">Cantidad</th>
          <th style="text-align: center; width: 6em">Valor</th>
          <th style="text-align: center">Nombre Producto</th>
          <th style="text-align: center">Observaciones</th>
          <th style="text-align: center">Borrar/Editar</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-editing="editing"
        let-rowIndex="rowIndex"
        let-pedido
      >
        <tr [pSelectableRow]="pedido" [pEditableRow]="pedido">
          <td style="text-align: center">{{ rowIndex + 1 }}</td>
          <td style="text-align: center">
            <div *ngIf="!pedido.ordenDeCompra"></div>
            <div *ngIf="pedido.ordenDeCompra">
              {{ pedido.ordenDeCompra.numerodeorden }}
            </div>
          </td>
          <td style="text-align: center">
            <p-tableCheckbox
              [value]="pedido"
              [disabled]="
                pedido.ordenDeCompra ||
                pedido.cantidadsolicitada <= 0 ||
                pedido.precioinicial <= 0
              "
            ></p-tableCheckbox>
          </td>
          <td style="text-align: center" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  style="width: 5em"
                  [(ngModel)]="pedido.cantidadsolicitada"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ pedido.cantidadsolicitada }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="pedido.precioinicial"
                  style="width: 6em"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ pedido.precioinicial | currency }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center">
            {{ pedido.producto.nombreproducto }}
          </td>
          <td style="text-align: center" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="pedido.observaciones"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ pedido.observaciones }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="align-items: center; text-align: center">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text"
              styleClass="p-button-sm"
            ></button>
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-text"
              styleClass="p-button-sm"
              (click)="eliminar(pedido)"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(pedido)"
              class="p-button-rounded p-button-text p-button-success p-mr-2"
              styleClass="p-button-sm"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-danger"
              styleClass="p-button-sm"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <!-------------------------------------------------------------------------
  ---------------------------------------------------------------------------
  -------------------------Dialog Edit---------------------------------------
  ---------------------------------------------------------------------------
  -------------------------------------------------------------------------->

  <p-dialog
    [(visible)]="displaySaveEditDialog"
    [maximizable]="true"
    [baseZIndex]="1000"
    [style]="{ width: '100%', height: '100%' }"
  >
    <p-card styleClass="p-fluid" header="Agregar Productos">
      <p-listbox
        [options]="productos"
        [(ngModel)]="selectedProductos"
        optionLabel="nombreproducto"
        styleClass="p-fluid"
        [checkbox]="true"
        [filter]="true"
        [multiple]="true"
        filterPlaceHolder="Ingrese el nombre del producto a agregar"
        metaKeySelection="false"
      ></p-listbox>
    </p-card>
    <p-footer>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="displaySaveEditDialog = false; onGuardar()"
        label="Aceptar"
        [disabled]="selectedProductos.length <= 0"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="displaySaveEditDialog = false; selectedProductos = []"
        label="Cancelar"
        class="ui-button-secondary"
      ></button>
    </p-footer>
  </p-dialog>
  <!-------------------------------------------------------------------------
    ---------------------------------------------------------------------------
    -------------------------Dialog OCO---------------------------------------
    ---------------------------------------------------------------------------
    -------------------------------------------------------------------------->
  <p-dialog
    [(visible)]="displaySaveOCO"
    [maximizable]="true"
    [baseZIndex]="1000"
    [style]="{ width: '100%', height: '100%' }"
  >
    <p-card styleClass="p-fluid" header="Crear OCO">
      <form (ngSubmit)="generarOCO()" [formGroup]="formOCO">
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Fecha *</div>
            <p-calendar
              formControlName="fechadeorden"
              dateFormat="dd-mm-yy"
              [locale]="es"
              inputId="spanish"
            ></p-calendar>
            <p-message
              severity="error"
              text="Seleccione una Fecha para OCO"
              *ngIf="
                !formOCO.controls['fechadeorden'].valid &&
                formOCO.controls['fechadeorden'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Proveedor *</div>
            <p-dropdown
              [options]="proveedores"
              [filter]="true"
              formControlName="proveedor"
              optionLabel="nombreprovee"
              placeholder="Seleccione Un proveedor"
            ></p-dropdown>
            <!-- <input
              pInputText
              type="text"
              formControlName="proveedor"
            /> -->
            <p-message
              severity="error"
              text="Seleccione un Proveedor para la OCO"
              *ngIf="
                !formOCO.controls['proveedor'].valid &&
                formOCO.controls['proveedor'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Centro de Costo *</div>
            <input
              pInputText
              type="text"
              formControlName="centrodecostos"
              placeholder="Ingrese un Centro de Costo"
            />
            <p-message
              severity="error"
              text="Ingrese un Centro de Costo para Continuar"
              *ngIf="
                !formOCO.controls['centrodecostos'].valid &&
                formOCO.controls['centrodecostos'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Contacto</div>
            <input
              pInputText
              type="text"
              formControlName="contacto"
              placeholder="Ingrese Un Contacto"
            />
            <p-message
              severity="error"
              text="Ingrese un contacto en la OCO"
              *ngIf="
                !formOCO.controls['contacto'].valid &&
                formOCO.controls['contacto'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Cargo Flete *</div>
            <input
              pInputText
              type="text"
              formControlName="concargoa"
              placeholder="Ingrese un Cargo Flete"
            />
            <p-message
              severity="error"
              text="Ingrese un Cargo Flete en la OCO"
              *ngIf="
                !formOCO.controls['concargoa'].valid &&
                formOCO.controls['concargoa'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>transportadora</div>
            <input
              pInputText
              type="text"
              formControlName="transportador"
              placeholder="Ingreese Una transportadora"
            />
            <p-message
              severity="error"
              text="Ingreese Una transportadora"
              *ngIf="
                !formOCO.controls['transportador'].valid &&
                formOCO.controls['transportador'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Numero De Guia</div>
            <input
              pInputText
              type="text"
              formControlName="numerodeguia"
              placeholder="Ingrese Un numero de guia"
            />
            <p-message
              severity="error"
              text="Ingrese Un numero de guia"
              *ngIf="
                !formOCO.controls['numerodeguia'].valid &&
                formOCO.controls['numerodeguia'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Iva (%)</div>
            <p-inputNumber
              inputId="integeronly"
              placeholder="Ingrese el Iva"
              formControlName="iva"
            ></p-inputNumber>
            <p-message
              severity="error"
              text="Ingrese % de iva"
              *ngIf="
                !formOCO.controls['iva'].valid && formOCO.controls['iva'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Valor IVA($)</div>
            <p-inputNumber
              placeholder="Ingrese el valor del iva"
              formControlName="valoriva"
              mode="currency"
              currency="COP"
              locale="es-CO"
            ></p-inputNumber>
            <p-message
              severity="error"
              text="Ingrese el valor del iva"
              *ngIf="
                !formOCO.controls['valoriva'].valid &&
                formOCO.controls['valoriva'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Exento de iva</div>
            <div class="p-field-checkbox">
              <p-checkbox
                formControlName="exentodeiva"
                binary="true"
                inputId="binary"
              ></p-checkbox>
              <span class="ml-2">{{
                formOCO.get("exentodeiva").value
                  ? "Proveedor Exento de IVA"
                  : "Proveedor declara de IVA"
              }}</span>
            </div>
            <p-message
              severity="error"
              text="Ingrese una Referencia en la Requisicion"
              *ngIf="
                !formOCO.controls['exentodeiva'].valid &&
                formOCO.controls['exentodeiva'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Forma de Pago *</div>
            <p-dropdown
              [options]="formaDePago"
              formControlName="formadepago"
              placeholder="Seleccione una forma de pago"
            ></p-dropdown>
            <p-message
              severity="error"
              text="Seleccione una forma de pago para continuar"
              *ngIf="
                !formOCO.controls['formadepago'].valid &&
                formOCO.controls['formadepago'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="p-fluid p-formgrid" style="margin: 1em 0">
          <div>
            <div>Observaciones</div>
            <textarea
              pInputTextarea
              formControlName="observaciones"
              placeholder="observaciones"
            ></textarea>
            <p-message
              severity="error"
              text="Ingrese una Referencia en la Requisicion"
              *ngIf="
                !formOCO.controls['observaciones'].valid &&
                formOCO.controls['observaciones'].dirty
              "
            ></p-message>
          </div>
        </div>
      </form>
    </p-card>
    <p-footer>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="displaySaveOCO = false; generarOCO()"
        label="Aceptar"
        [disabled]="!formOCO.valid"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="displaySaveOCO = false; formOCO.reset()"
        label="Cancelar"
        class="ui-button-secondary"
      ></button>
    </p-footer>
  </p-dialog>
</div>
<!-------------------------------------------------------------------------
  ---------------------------------------------------------------------------
  -------------------------Overlay Panel OCO---------------------------------
  ---------------------------------------------------------------------------
  -------------------------------------------------------------------------->
<p-overlayPanel #op [showCloseIcon]="true" autoZIndex="true" [style]="{ width: '500px' }">
  <ng-template pTemplate>
    <p-table
      [value]="ordenesDeCompra"
      selectionMode="single"
      [(selection)]="selectecOrdenDeCompra"
      (onRowSelect)="onRowOCOSelect($event)"
      [paginator]="true"
      [rows]="5"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="numerodeorden">
            Numero OCO<p-sortIcon field="numerodeorden"></p-sortIcon>
          </th>
          <th pSortableColumn="nombreprovee">
            Proveedor<p-sortIcon field="nombreprovee"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-orden>
        <tr [pSelectableRow]="rowData">
          <td>{{ orden.numerodeorden }}</td>
          <td>{{ orden.proveedor ? orden.proveedor.nombreprovee:'' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-overlayPanel>
