<div class="p-grid-fluid">
  <p-toast position="bottom-right" key="bc"></p-toast>
  <p-card>
    <div class="p-d-flex p-jc-between">
      <div class="p-mb-3">
        <button
          type="button"
          pButton
          label="Agregar Producto"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          (click)="mostrarDialogoGuardar(false, null)"
        ></button>
        <!-- <button
          type="button"
          pButton
          label="Modificar Producto"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          *ngIf="selectedPedidos.length === 1"
          (click)="mostrarDialogoGuardar(true, selectedPedidos[0])"
        ></button> -->
      </div>
      <div class="p-d-flex p-jc-end">
        <button
          type="button"
          pButton
          label="Crear OCO"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          [disabled]="selectedPedidos.length <= 0"
        ></button>
        <button
          type="button"
          pButton
          label="Salir"
          icon="pi pi-angle-double-left"
          style="margin-left: 0.25em"
          (click)="volver()"
          class="p-button-text"
        ></button>
        <input
          type="text"
          pInputText
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
      </div>
    </div>
    <p-table
      #dt
      [value]="pedidos"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} elementos"
      [rowsPerPageOptions]="[10, 25, 50]"
      [(selection)]="selectedPedidos"
      dataKey="idpedido"
      [responsive]="true"
      [globalFilterFields]="['producto.nombreproducto']"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
      editMode="row"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center; width: 3em">N°</th>
          <th style="text-align: center; width: 3em">OCO</th>
          <th style="text-align: center; width: 3em">
            <p-tableHeaderCheckbox disabled="true"></p-tableHeaderCheckbox>
          </th>
          <th style="text-align: center; width: 5em">Cantidad</th>
          <th style="text-align: center; width: 6em">Valor</th>
          <th style="text-align: center">Nombre Producto</th>
          <th style="text-align: center">Observaciones</th>
          <th style="text-align: center">Borrar/Editar</th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-editing="editing"
        let-rowIndex="rowIndex"
        let-pedido
      >
        <tr [pSelectableRow]="pedido" [pEditableRow]="pedido">
          <td style="text-align: center">{{ rowIndex + 1 }}</td>
          <td style="text-align: center">
            <div *ngIf="!pedido.ordenDeCompra"></div>
            <div *ngIf="pedido.ordenDeCompra">
              {{ pedido.ordenDeCompra.numerodeorden }}
            </div>
          </td>
          <td>
            <p-tableCheckbox
              [value]="pedido"
              [disabled]="
                pedido.ordenDeCompra ||
                pedido.cantidadsolicitada <= 0 ||
                pedido.precioinicial <= 0
              "
            ></p-tableCheckbox>
          </td>
          <td style="text-align: center" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  style="width: 5em"
                  [(ngModel)]="pedido.cantidadsolicitada"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ pedido.cantidadsolicitada }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="pedido.precioinicial"
                  style="width: 6em"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ pedido.precioinicial | currency }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center">
            {{ pedido.producto.nombreproducto }}
          </td>
          <td style="text-align: center" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="pedido.observaciones"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ pedido.observaciones }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="align-items: center; text-align: center">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-text"
              styleClass="p-button-sm"
              (click)="eliminar(pedido)"
            ></button>
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text"
              styleClass="p-button-sm"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(pedido)"
              class="p-button-rounded p-button-text p-button-success p-mr-2"
              styleClass="p-button-sm"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              class="p-button-rounded p-button-text p-button-danger"
              styleClass="p-button-sm"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <!-------------------------------------------------------------------------
  ---------------------------------------------------------------------------
  -------------------------Dialog Edit---------------------------------------
  ---------------------------------------------------------------------------
  -------------------------------------------------------------------------->

  <p-dialog
    [(visible)]="displaySaveEditDialog"
    [maximizable]="true"
    [baseZIndex]="1000"
    [style]="{ width: '100%', height: '100%' }"
  >
    <p-card styleClass="p-fluid" header="Agregar Productos">
      <p-listbox
        [options]="productos"
        [(ngModel)]="selectedProductos"
        optionLabel="nombreproducto"
        styleClass="p-fluid"
        [checkbox]="true"
        [filter]="true"
        [multiple]="true"
        filterPlaceHolder="Ingrese el nombre del producto a agregar"
        metaKeySelection="false"
      ></p-listbox>
    </p-card>
    <p-footer>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="displaySaveEditDialog = false; onGuardar()"
        label="Aceptar"
        [disabled]="selectedProductos.length <= 0"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="displaySaveEditDialog = false; selectedProductos = []"
        label="Cancelar"
        class="ui-button-secondary"
      ></button>
    </p-footer>
  </p-dialog>
</div>
