<div class="p-grid-fluid">
  <p-toast position="bottom-right" key="bc"></p-toast>
  <p-card>
    <div class="p-d-flex p-jc-between">
      <div class="p-mb-3">
        <button
          type="button"
          pButton
          label="Agregar Producto"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          *ngIf="selectedPedidos.length !== 1"
          (click)="mostrarDialogoGuardar(false, null)"
        ></button>
        <button
          type="button"
          pButton
          label="Modificar Producto"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          *ngIf="selectedPedidos.length === 1"
          (click)="mostrarDialogoGuardar(true, selectedPedidos[0])"
        ></button>
      </div>
      <div class="p-d-flex p-jc-end">
        <button
          type="button"
          pButton
          label="Crear OCO"
          icon="pi pi-angle-double-up"
          style="margin-left: 0.25em"
          class="p-button-text"
          [disabled]="selectedPedidos.length <= 0"
        ></button>
        <button
          type="button"
          pButton
          label="Salir"
          icon="pi pi-angle-double-left"
          style="margin-left: 0.25em"
          (click)="volver()"
          class="p-button-text"
        ></button>
        <input
          type="text"
          pInputText
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Buscar"
        />
      </div>
    </div>
    <p-table
      #dt
      [value]="pedidos"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} elementos"
      [rowsPerPageOptions]="[10, 25, 50]"
      [(selection)]="selectedPedidos"
      dataKey="idpedido"
      [responsive]="true"
      [globalFilterFields]="['producto.nombreproducto']"
      (onRowSelect)="onRowSelect($event)"
      (onRowUnselect)="onRowUnselect($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center; width: 3em">N°</th>
          <th style="text-align: center; width: 3em">OCO</th>
          <th style="text-align: center; width: 3em">
            <p-tableHeaderCheckbox disabled="true"></p-tableHeaderCheckbox>
          </th>
          <th style="text-align: center; width: 5em">Cantidad</th>
          <th style="text-align: center; width: 6em">Valor</th>
          <th style="text-align: center">Nombre Producto</th>
          <th style="text-align: center">Observaciones</th>
          <th style="width: 4em">Borrar</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowIndex="rowIndex" let-pedido>
        <tr [pSelectableRow]="pedido">
          <td style="text-align: center">{{ rowIndex + 1 }}</td>
          <td style="text-align: center">
            <div *ngIf="!pedido.ordenDeCompra"></div>
            <div *ngIf="pedido.ordenDeCompra">
              {{ pedido.ordenDeCompra.numerodeorden }}
            </div>
          </td>
          <td>
            <p-tableCheckbox
              [value]="pedido"
              [disabled]="pedido.ordenDeCompra"
            ></p-tableCheckbox>
          </td>
          <td style="text-align: center">{{ pedido.cantidadsolicitada }}</td>
          <td style="text-align: center">
            {{ pedido.precioinicial | currency }}
          </td>
          <td style="text-align: center">
            {{ pedido.producto.nombreproducto }}
          </td>
          <td style="text-align: center">
            {{ pedido.observaciones }}
          </td>
          <td style="align-items: center">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-text"
              styleClass="p-button-sm"
              (click)="eliminar(pedido)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <!-------------------------------------------------------------------------
  ---------------------------------------------------------------------------
  -------------------------Dialog Edit---------------------------------------
  ---------------------------------------------------------------------------
  -------------------------------------------------------------------------->

  <p-dialog
    [(visible)]="displaySaveEditDialog"
    [maximizable]="true"
    [baseZIndex]="1000"
    [style]="{ width: '100%', height: '100%' }"
  ></p-dialog>
</div>
