<p-panel styleClass="p-fluid">
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <input
        type="text"
        pInputText
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        placeholder="Buscar"
        class="p-inputtext-sm"
      />
    </ng-template>
  </p-menubar>
  <p-table
    [value]="requisiciones"
    styleClass="p-datatable-sm"
    [paginator]="true"
    [rows]="10"
    #dt
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="single"
    [(selection)]="selectedRequisicion"
    dataKey="idrequisicion"
    [responsive]="true"
    [globalFilterFields]="[
      'numerorequisicion',
      'fechaderegistro',
      'usuario.nombreusuario',
      'referencia'
    ]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center; width: 2em">#</th>
        <th style="text-align: center; width: 3em">Nro</th>
        <th style="text-align: center; width: 8em">Fecha</th>
        <th style="text-align: center; width: 3em">Items</th>
        <th style="text-align: center; width: 8em">Pendientes</th>
        <th style="text-align: center">Solicitante</th>
        <th style="text-align: center">Referencia</th>
        <th style="text-align: center; width: 5em">Ver/Editar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-requisicion let-rowIndex="rowIndex">
      <tr [pSelectableRow]="requisicion">
        <td style="text-align: center;">{{ rowIndex + 1 }}</td>
        <td style="text-align: center">{{ requisicion.numerorequisicion }}</td>
        <td style="text-align: center">
          {{ requisicion.fechaderegistro | date: "dd-MM-yyyy" }}
        </td>
        <td style="text-align: center">{{ requisicion.items }}</td>
        <td style="text-align: center">
          <div
            [ngClass]="{
              instock: requisicion.pendientes === 0,
              lowstock:
                requisicion.pendientes > 0 &&
                requisicion.pendientes < requisicion.items,
              outofstock: requisicion.pendientes >= requisicion.items
            }"
          >
            {{ requisicion.pendientes }}
          </div>
        </td>
        <td style="text-align: center">
          {{ requisicion.usuario.nombreusuario }}
        </td>
        <td style="text-align: center">{{ requisicion.referencia }}</td>
        <td style="text-align: center">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            class="p-button-rounded p-button-info p-button-text"
            styleClass="p-button-sm"
            (click)="verEditarRequisicion(requisicion)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
<!-----------------------------------------------------------------------------
  -----------------------------------------------------------------------------
  --------------------------Dialog Edit----------------------------------------
  -----------------------------------------------------------------------------
  ---------------------------------------------------------------------------->

<p-dialog
  [(visible)]="displaySaveEditDialog"
  [maximizable]="true"
  [baseZIndex]="1000"
  [modal]="true"
  [style]="{ width: '100%', height: '100%' }"
>
  <p-card styleClass="p-fluid">
    <form (ngSubmit)="onGuardar()" [formGroup]="formRequisicion">
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Referencia *</div>
          <input
            pInputText
            type="text"
            formControlName="referencia"
            placeholder="Ingrese una referencia"
          />
          <p-message
            severity="error"
            text="Ingrese una Referencia en la Requisicion"
            *ngIf="
              !formRequisicion.controls['referencia'].valid &&
              formRequisicion.controls['referencia'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Observaciones *</div>
          <input
            pInputText
            type="text"
            formControlName="observaciones"
            placeholder="Ingrese una observacion"
          />
          <p-message
            severity="error"
            text="Ingrese una observacion en la Requisicion"
            *ngIf="
              !formRequisicion.controls['observaciones'].valid &&
              formRequisicion.controls['observaciones'].dirty
            "
          ></p-message>
        </div>
      </div>
    </form>
  </p-card>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="displaySaveEditDialog = false; onGuardar()"
      label="Aceptar"
      [disabled]="!formRequisicion.valid"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="displaySaveEditDialog = false; formRequisicion.reset()"
      label="Cancelar"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>
