<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              label="Datos Orden"
              icon="pi pi-eye"
              class="p-mr-2"
              styleClass="p-button-text"
            ></p-button>
            <p-button
              label="Retirar de Orden"
              icon="pi pi-directions-alt"
              styleClass="p-button-success p-button-text"
              [disabled]="selectedPedidos.length === 0"
              (click)="onRetirar()"
            ></p-button>
            <p-button
              label="Factura"
              icon="pi pi-file-o"
              [badge]="facturas.length"
              badgeClass="p-badge-success"
              styleClass="p-button-success p-button-text"
              (click)="op.toggle($event)"
            ></p-button>
            <p-button
              label="Recibir"
              icon="pi pi-check-square"
              styleClass="p-button-success p-button-text"
              [disabled]="selectedPedidos.length === 0"
              (click)="mostrarDialogoRecibido()"
            ></p-button>
          </div>
          <div class="p-toolbar-group-right"></div>
        </p-toolbar>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p-card>
          <p-table
            [value]="pedidos"
            [(selection)]="selectedPedidos"
            dataKey="idpedido"
          >
            <ng-template pTemplate="caption">
              Orden de Compra : {{ orden.numerodeorden }}
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="text-align: center; width: 4rem">Pedido</th>
                <th style="text-align: center; width: 5rem">Recibido</th>
                <th style="text-align: center; width: 3rem">
                  <p-tableHeaderCheckbox
                    disabled="true"
                  ></p-tableHeaderCheckbox>
                </th>
                <th style="text-align: center; width: 5rem">Pendiente</th>
                <th style="text-align: center; width: 10rem">Precio</th>
                <th style="text-align: center">Producto/Servicio</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pedido>
              <tr>
                <td style="text-align: center">
                  {{ pedido.cantidadsolicitada }}
                </td>
                <td style="text-align: center">
                  <p-button
                    icon="pi pi-eye"
                    [badge]="pedido.recibidos"
                    badgeClass="p-badge-info"
                    styleClass="p-button-info p-button-text"
                    (click)="show(pedido)"
                  ></p-button>
                </td>
                <td style="text-align: center">
                  <p-tableCheckbox
                    [value]="pedido"
                    [disabled]="
                      pedido.recibidos > 0 &&
                      pedido.cantidadsolicitada - pedido.recibidos === 0
                    "
                  ></p-tableCheckbox>
                </td>
                <td style="text-align: center" pEditableColumn>
                  <div
                    [ngClass]="{
                      instock: pedido.cantidadsolicitada === pedido.recibidos,
                      lowstock:
                        pedido.pendientes > 0 &&
                        pedido.pendientes < pedido.cantidadsolicitada,
                      outofstock: pedido.pendientes > 0
                    }"
                  >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-inputNumber
                          inputId="integeronly"
                          [(ngModel)]="pedido.pendientes"
                          styleClass="p-fluid"
                        ></p-inputNumber>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ pedido.pendientes }}
                      </ng-template>
                    </p-cellEditor>
                  </div>
                </td>
                <td style="text-align: right">
                  {{ pedido.precioinicial | currency }}
                </td>
                <td style="text-align: center">
                  {{ pedido.producto.nombreproducto }}
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary"></ng-template>
          </p-table>
        </p-card>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Recibir"
  [(visible)]="displayRecepcionModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="formRecepcion" (ngSubmit)="generarRecepcion()">
    <div class="p-fluid p-formgrid" style="margin: 1em 0">
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Fecha *</div>
          <p-calendar
            formControlName="fechaderecibido"
            dateFormat="yy-mm-dd"
            [locale]="es"
            inputId="spanish"
            showButtonBar="true"
          ></p-calendar>
          <p-message
            severity="error"
            text="Seleccione una Fecha"
            *ngIf="
              !formRecepcion.controls['fechaderecibido'].valid &&
              formRecepcion.controls['fechaderecibido'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Factura *</div>
          <input
            pInputText
            type="text"
            formControlName="factura"
            placeholder="Digite una factura"
          />
          <p-message
            severity="error"
            text="Ingrese una factura para continuar"
            *ngIf="
              !formRecepcion.controls['factura'].valid &&
              formRecepcion.controls['factura'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Remision *</div>
          <input
            pInputText
            type="text"
            formControlName="remision"
            placeholder="Digite una remision"
          />
          <p-message
            severity="error"
            text="Ingrese una remision para continuar"
            *ngIf="
              !formRecepcion.controls['remision'].valid &&
              formRecepcion.controls['remision'].dirty
            "
          ></p-message>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="displayRecepcionModal = false; generarRecepcion()"
      label="Aceptar"
      [disabled]="!formRecepcion.valid"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="displayRecepcionModal = false; formRecepcion.reset()"
      label="Cancelar"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>

<p-overlayPanel
  [showTransitionOptions]="'5ms'"
  [hideTransitionOptions]="'5ms'"
  #op
  [dismissable]="true"
  [showCloseIcon]="true"
  [autoZIndex]="true"
  [style]="{ width: '100%' }"
>
  <ng-template pTemplate>
    <p-card>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01"
                >Documento</span
              >
            </div>
            <div class="custom-file">
              <input
                (change)="uploadFile($event)"
                type="file"
                class="custom-file-input"
                accept="application/pdf"
                id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01"
              />
              <label class="custom-file-label" for="inputGroupFile01"
                >Seleccionar Archivo</label
              >
            </div>
          </div>
        </div>
      </div>
      <p-table [value]="facturas">
        <ng-template pTemplate="header">
          <tr>
            <th style="text-align: center; width: 3rem">#</th>
            <th>Nombre</th>
            <th style="text-align: center; width: 10rem">Ver/Eliminar</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-factura let-index="rowIndex">
          <tr>
            <td>{{ index + 1 }}</td>
            <td>{{ factura.nombrearchivo }}</td>
            <td style="text-align: center">
              <p-button
                icon="pi pi-eye"
                styleClass="p-button-info p-button-text"
                (click)="ver(factura.idfactura)"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-danger p-button-text"
                (click)="eliminar(factura.idfactura)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </ng-template>
</p-overlayPanel>

<div class="h-100 overlay" *ngIf="!loadFile">
  <div class="spinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>
