<p-panel styleClass="p-fluid">
  <p-toast
    position="center"
    key="c"
    (onClose)="onReject()"
    [baseZIndex]="5000"
  >
    <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
        <div class="p-text-center">
          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
          <h4>{{ message.summary }}</h4>
          <p>{{ message.detail }}</p>
        </div>
        <div class="p-grid p-fluid">
          <div class="p-col-6">
            <button
              type="button"
              pButton
              (click)="onConfirm()"
              label="Si"
              class="p-button-success"
            ></button>
          </div>
          <div class="p-col-6">
            <button
              type="button"
              pButton
              (click)="onReject()"
              label="No"
              class="p-button-secondary"
            ></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toast>
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <input
        type="text"
        pInputText
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        placeholder="Buscar"
        class="p-inputtext-sm"
      />
    </ng-template>
  </p-menubar>
  <p-table
    [value]="ordenes"
    styleClass="p-datatable-sm"
    [paginator]="true"
    [rows]="10"
    #dt
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="single"
    [(selection)]="selectedOrden"
    dataKey="idordendecompra"
    [responsive]="true"
    [globalFilterFields]="['numerodeorden', 'proveedor.nombreprovee', 'centrodecostos']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center; width: 2em">#</th>
        <th style="text-align: center; width: 8em">Ver/Editar</th>
        <th style="text-align: center; width: 4em">Orden</th>
        <th style="text-align: center">Proveedor</th>
        <th style="text-align: center; width: 5em">Solicitado</th>
        <th style="text-align: center; width: 5em">Recibido</th>
        <th style="text-align: center; width: 10em">Centro Costo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-orden let-rowIndex="rowIndex">
      <tr [pSelectableRow]="orden">
        <td style="text-align: center">{{ rowIndex + 1 }}</td>
        <td style="text-align: center">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-print"
            class="p-button-rounded p-button-info p-button-text"
            styleClass="p-button-sm"
            [disabled]="orden.anulada == true"
            (click)="verOrden(orden)"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            class="p-button-rounded p-button-info p-button-text"
            styleClass="p-button-sm"
            [disabled]="orden.anulada == true"
            (click)="verEditarOCO(orden)"
          ></button>
        </td>
        <td style="text-align: center">{{ orden.numerodeorden }}</td>
        <td style="text-align: center">{{ orden.proveedor ? orden.proveedor.nombreprovee :'' }}</td>
        <td style="text-align: center">{{ orden.totalesOCO }}</td>
        <td style="text-align: center">
          <div
            [ngClass]="{
              outofstock: orden.recibidosOCO === 0,
              lowstock:
                orden.recibidosOCO < orden.totalesOCO && orden.recibidosOCO > 0,
              instock: orden.recibidosOCO === orden.totalesOCO
            }"
          >
            {{ orden.recibidosOCO }}
          </div>
        </td>
        <td style="text-align: center">{{ orden.centrodecostos }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<!-------------------------------------------------------------------------
    ---------------------------------------------------------------------------
    -------------------------Dialog OCO---------------------------------------
    ---------------------------------------------------------------------------
    -------------------------------------------------------------------------->
<p-dialog
  [(visible)]="displaySaveEditDialog"
  [maximizable]="true"
  [baseZIndex]="1000"
  [style]="{ width: '100%', height: '100%' }"
>
  <p-card styleClass="p-fluid" header="Crear OCO">
    <form (ngSubmit)="generarOCO()" [formGroup]="formOCO">
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Fecha *</div>
          <p-calendar
            formControlName="fechadeorden"
            dateFormat="yy-mm-dd"
            [locale]="es"
            inputId="spanish"
          ></p-calendar>
          <p-message
            severity="error"
            text="Seleccione una Fecha para OCO"
            *ngIf="
              !formOCO.controls['fechadeorden'].valid &&
              formOCO.controls['fechadeorden'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Proveedor *</div>
          <p-dropdown
            [options]="proveedores"
            [filter]="true"
            formControlName="proveedor"
            optionLabel="nombreprovee"
            placeholder="Seleccione Un proveedor"
          ></p-dropdown>
          <!-- <input
              pInputText
              type="text"
              formControlName="proveedor"
            /> -->
          <p-message
            severity="error"
            text="Seleccione un Proveedor para la OCO"
            *ngIf="
              !formOCO.controls['proveedor'].valid &&
              formOCO.controls['proveedor'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Centro de Costo *</div>
          <input
            pInputText
            type="text"
            formControlName="centrodecostos"
            placeholder="Ingrese un Centro de Costo"
          />
          <p-message
            severity="error"
            text="Ingrese un Centro de Costo para Continuar"
            *ngIf="
              !formOCO.controls['centrodecostos'].valid &&
              formOCO.controls['centrodecostos'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Contacto</div>
          <input
            pInputText
            type="text"
            formControlName="contacto"
            placeholder="Ingrese Un Contacto"
          />
          <p-message
            severity="error"
            text="Ingrese un contacto en la OCO"
            *ngIf="
              !formOCO.controls['contacto'].valid &&
              formOCO.controls['contacto'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Cargo Flete *</div>
          <input
            pInputText
            type="text"
            formControlName="concargoa"
            placeholder="Ingrese un Cargo Flete"
          />
          <p-message
            severity="error"
            text="Ingrese un Cargo Flete en la OCO"
            *ngIf="
              !formOCO.controls['concargoa'].valid &&
              formOCO.controls['concargoa'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>transportadora</div>
          <input
            pInputText
            type="text"
            formControlName="transportador"
            placeholder="Ingreese Una transportadora"
          />
          <p-message
            severity="error"
            text="Ingreese Una transportadora"
            *ngIf="
              !formOCO.controls['transportador'].valid &&
              formOCO.controls['transportador'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Numero De Guia</div>
          <input
            pInputText
            type="text"
            formControlName="numerodeguia"
            placeholder="Ingrese Un numero de guia"
          />
          <p-message
            severity="error"
            text="Ingrese Un numero de guia"
            *ngIf="
              !formOCO.controls['numerodeguia'].valid &&
              formOCO.controls['numerodeguia'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Iva (%)</div>
          <p-inputNumber
            inputId="integeronly"
            placeholder="Ingrese el Iva"
            formControlName="iva"
          ></p-inputNumber>
          <p-message
            severity="error"
            text="Ingrese % de iva"
            *ngIf="
              !formOCO.controls['iva'].valid && formOCO.controls['iva'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Valor IVA($)</div>
          <p-inputNumber
            placeholder="Ingrese el valor del iva"
            formControlName="valoriva"
            mode="currency"
            currency="COP"
            locale="es-CO"
          ></p-inputNumber>
          <p-message
            severity="error"
            text="Ingrese el valor del iva"
            *ngIf="
              !formOCO.controls['valoriva'].valid &&
              formOCO.controls['valoriva'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Exento de iva</div>
          <div class="p-field-checkbox">
            <p-checkbox
              formControlName="exentodeiva"
              binary="true"
              inputId="binary"
            ></p-checkbox>
            <span class="ml-2">{{
              formOCO.get("exentodeiva").value
                ? "Proveedor Exento de IVA"
                : "Proveedor declara de IVA"
            }}</span>
          </div>
          <p-message
            severity="error"
            text="Ingrese una Referencia en la Requisicion"
            *ngIf="
              !formOCO.controls['exentodeiva'].valid &&
              formOCO.controls['exentodeiva'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Forma de Pago *</div>
          <p-dropdown
            [options]="formaDePago"
            formControlName="formadepago"
            placeholder="Seleccione una forma de pago"
          ></p-dropdown>
          <p-message
            severity="error"
            text="Seleccione una forma de pago para continuar"
            *ngIf="
              !formOCO.controls['formadepago'].valid &&
              formOCO.controls['formadepago'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Observaciones</div>
          <textarea
            pInputTextarea
            formControlName="observaciones"
            placeholder="observaciones"
          ></textarea>
          <p-message
            severity="error"
            text="Ingrese una Referencia en la Requisicion"
            *ngIf="
              !formOCO.controls['observaciones'].valid &&
              formOCO.controls['observaciones'].dirty
            "
          ></p-message>
        </div>
      </div>
    </form>
  </p-card>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="displaySaveEditDialog = false; generarOCO()"
      label="Aceptar"
      [disabled]="!formOCO.valid"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="displaySaveEditDialog = false; formOCO.reset()"
      label="Cancelar"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>
