<p-panel styleClass="p-fluid">
  <p-menubar [model]="items">
    <ng-template pTemplate="end">
      <input
        type="text"
        pInputText
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        placeholder="Buscar"
        class="p-inputtext-sm"
      />
    </ng-template>
  </p-menubar>
  <p-table
    [value]="ordenes"
    styleClass="p-datatable-sm"
    [paginator]="true"
    [rows]="10"
    #dt
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="single"
    [(selection)]="selectedOrden"
    dataKey="idrequisicion"
    [responsive]="true"
    [globalFilterFields]="['numerodeorden']"
  >
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center; width: 2em;">#</th>
        <th style="text-align: center; width: 8em;">Ver/Editar</th>
        <th style="text-align: center; width: 4em;">Orden</th>
        <th style="text-align: center;">Proveedor</th>
        <th style="text-align: center; width: 5em;">Solicitado</th>
        <th style="text-align: center; width: 5em;">Recibido</th>
        <th style="text-align: center; width: 10em;">Centro Costo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-orden let-rowIndex="rowIndex">
    <tr>
      <td style="text-align: center;">{{ rowIndex + 1 }}</td>
      <td style="text-align: center"> 
        <button
            pButton
            pRipple
            type="button"
            icon="pi pi-print"
            class="p-button-rounded p-button-info p-button-text"
            styleClass="p-button-sm"
          ></button>
        <button
            pButton
            pRipple
            type="button"
            icon="pi pi-eye"
            class="p-button-rounded p-button-info p-button-text"
            styleClass="p-button-sm"
          ></button>
      </td>
      <td style="text-align: center;">{{ orden.numerodeorden }}</td>
      <td style="text-align: center;">{{ orden.proveedor.nombreprovee }}</td>
      <td style="text-align: center;">{{ orden.solicitados }}</td>
      <td style="text-align: center;">{{ orden.recibidos }}</td>
      <td style="text-align: center;">{{ orden.centrodecostos }}</td>
    </tr>
  </ng-template>
</p-table>
</p-panel>
