<p-panel styleClass="p-fluid">
  <p-menubar [model]="items" styleClass="p-0">
    <ng-template pTemplate="end">
      <input
        type="text"
        pInputText
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        placeholder="Buscar"
        class="p-inputtext-sm"
      />
    </ng-template>
  </p-menubar>
  <p-table
    [value]="productos"
    styleClass="p-datatable-sm"
    [paginator]="true"
    [rows]="10"
    #dt
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="single"
    [(selection)]="selectedProducto"
    dataKey="idproducto"
    [responsive]="true"
    [globalFilterFields]="[
      'nombreproducto',
      'medida',
      'categoria.nombrecategoria',
      'fechaderegistro'
    ]"
  >
    <ng-template pTemplate="header">
      <tr style="text-align: center">
        <th style="width: 3em">N°</th>
        <th style="width: 3em">Borrar</th>
        <!-- <th>Codigo</th> -->
        <th style="text-align: center">Nombre</th>
        <th style="text-align: center; width: 8em">Medida</th>
        <th style="text-align: center; width: 8em">Categoria</th>
        <th style="text-align: center; width: 5em">Fecha</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-producto>
      <tr style="text-align: center" [pSelectableRow]="producto">
        <td>{{ rowIndex + 1 }}</td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text"
            styleClass="p-button-sm"
            (click)="eliminar(producto)"
          ></button>
        </td>
        <!-- <td>{{producto.codigoproducto}}</td> -->
        <td style="text-align: center">{{ producto.nombreproducto }}</td>
        <td style="text-align: center">{{ producto.medida }}</td>
        <td style="text-align: center">
          {{ producto.categoria.nombrecategoria }}
        </td>
        <td style="text-align: center">
          {{ producto.fechaderegistro | date: "dd-MM-yy" }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<p-sidebar
  [(visible)]="displaySaveEditDialog"
  [fullScreen]="true"
  [baseZIndex]="10000"
>
  <p-panel styleClass="p-fluid">
    <form [formGroup]="formProducto" (submit)="onGuardar()">
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Nombre *</div>
          <input
            pInputText
            type="text"
            formControlName="nombreproducto"
            placeholder="Ingrese un Nombre"
          />
          <p-message
            severity="error"
            text="Es requerido un nombre para crear el producto"
            *ngIf="
              !formProducto.controls['nombreproducto'].valid &&
              formProducto.controls['nombreproducto'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Codigo *</div>
          <input
            pInputText
            type="text"
            formControlName="codigoproducto"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="Ingrese un codigo para el producto"
            *ngIf="
              !formProducto.controls['codigoproducto'].valid &&
              formProducto.controls['codigoproducto'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0">
        <div>
          <div>Medida *</div>
          <input
            pInputText
            type="text"
            formControlName="medida"
            placeholder="Requerido"
          />
          <p-message
            severity="error"
            text="Ingrese una unidad de medida"
            *ngIf="
              !formProducto.controls['medida'].valid &&
              formProducto.controls['medida'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div class="p-fluid p-formgrid" style="margin: 1em 0;">
        <div>
          <div>Genero *</div>
          <p-dropdown
            [options]="categorias"
            formControlName="categoria"
            placeholder="Seleccione Una categoria"
            optionLabel="nombrecategoria"
          >
          </p-dropdown>
          <p-message
            severity="error"
            text="Seleccione un Genero"
            *ngIf="
              !formProducto.controls['categoria'].valid &&
              formProducto.controls['categoria'].dirty
            "
          ></p-message>
        </div>
      </div>
      <div
        class="p-fluid p-formgrid"
        style="margin: 1em 0;"
        *ngIf="
          selectedProducto !== null && selectedProducto.imagenHashCode !== null
        "
      >
        <div>Imagen del Producto *</div>
        <span class="text-center">
          <img
            [src]="
              'http://localhost:8080/api/productos/image/' +
              selectedProducto.idproducto
            "
            class="img-thumbnail rounded"
            style="height: 200px"
            [alt]="selectedProducto.nombreproducto"
          />
        </span>
      </div>
    </form>
    <p-footer>
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="displaySaveEditDialog = false; onGuardar()"
        label="Aceptar"
        [disabled]="!formProducto.valid"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times"
        (click)="displaySaveEditDialog = false; formProducto.reset()"
        label="Cancelar"
        class="ui-button-secondary"
      ></button>
    </p-footer>
  </p-panel>
</p-sidebar>
